.projectContainers {
  display: block;
  overflow: hidden;
  max-width: 350px;
  margin-bottom: 2vh;

  .infoContainer {
    flex-direction: column;
    font-size: 20px;

    h3 {
      margin-top: 1.5vh;
      font-size: 30px;
      padding-bottom: 2vh;
    }

    h3,
    p {
      text-shadow: 1px 1px white;
      line-height: 1.2;
      letter-spacing: 0.05em;
      text-align: left;
      color: black;
      display: block;
    }
    p {
      font-weight: 400;
      margin-bottom: 2vh;
    }

    a {
      color: #3976a2;
      text-decoration: none;
      font-size: 0.75em;
    }
  }
}

@media only screen and (max-width: 992px) {
  img {
    width: 70vw;
    margin: 5vh 0;
  }
}
