.myWorkWrapper {
  display: flex;
  flex-direction: column;
  color: white;

  div {
    margin: 3vh 3vw;
    padding: 3vh 3vw;
    background-color: #3a5065;
    display: flex;
    flex-direction: row;

    div {
      margin: 0;
      padding: 0 2vw;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      h3 {
        font-size: 30px;
        padding-bottom: 2vh;
      }

      p {
        font-weight: 400;
      }
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
  }
  img {
    max-width: 15vw;
    max-height: 20vh;
  }
}
