.aboutWrapper {
  img {
    height: 200px;
    width: 200px;
    margin-bottom: 8vh;
  }

  h1 {
    text-align: left;
    font-size: 46px;
    color: white;
  }

  p {
    line-height: 1.5em;
    letter-spacing: 0.2em;
    color: white;
    width: 500px;
  }
}
